@using Microsoft.AspNetCore.Mvc.TagHelpers
@model HRMS_WEB.ViewModels.ImageUploadViewModel
@{
    ViewData["Title"] = "Upload Images";
}

@section Styles
{
    <link href="https://releases.transloadit.com/uppy/v3.4.0/uppy.min.css" rel="stylesheet">
    <!-- Select2 -->
    <link rel="stylesheet" href="~/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="~/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
}


<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h5 class="m-0 text-dark">@ViewData["Title"]</h5>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item">
                            <a href="#">Home</a>
                        </li>
                        <li class="breadcrumb-item active">Upoad file</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid" id="main">
            <div class="card card-primary card-outline">
                <div class="card-header">
                    <div class="card-title">Upload your file</div>
                </div>
                <div class="card-body">
                    <form method="post" asp-action="Upload" asp-controller="Invoice" id="upload-form" enctype="multipart/form-data">
                        <div class="form-group">
                            <label asp-for="SupplierID">Select Supplier</label>
                            <select class="form-control select2"
                                    style="width: 100%;"
                                    asp-for="SupplierID"
                                    asp-items="@(new SelectList(Model.SupplierList, "ID", "Name"))">
                                <option value="0" selected="selected">Select Supplier</option>
                            </select>
                        </div>
                        <div class="container py-5" id="uppy">
                            <div class="row">
                                <input type="file" name="files[]" multiple hidden>
                                <div class="col-sm-12 text-center">
                                    <div class="form-group" id="uppyDashboard"></div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div><!--/. container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<!-- PAGE SCRIPTS -->


@section Scripts
{
    <script src="https://releases.transloadit.com/uppy/v3.4.0/uppy.min.js"></script>
    <script defer src="~/js/image_upload.js"></script>
    <!-- Select2 -->
    <script src="~/plugins/select2/js/select2.full.min.js"></script>
    <script>
             $('.select2').select2({
               theme: 'bootstrap4'
             })
    </script>
}