:root{
    --header-height: 60px;
    --footer-height: 60px;
}
body{
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
}
header {
    height: var(--header-height);
}
footer {
    line-height: var(--footer-height);
}
#main {
    position: absolute;
    top: var(--header-height);
    width: 100%;
    height: calc(100vh - var(--header-height));
    padding-bottom: var(--footer-height);
}
#middle-section, #side-menu{
    height: calc(100vh - var(--header-height));
}
#upload-section{
    overflow-y: scroll;
    height: calc(100vh - var(--header-height)*3)
}
#toolbar button{
    font-size: 0.9em;
}