@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root {
    /*define colors*/
    --light-grey-1: #f2f2f2;
    --light-grey-2: #adadad;
    --theme-dark-blue: #3371b9;
    --theme-light-blue: #55abdf;
    --theme-yellow: #ffbd59;
    --theme-greyish-yellow: #ffecc5;
    --theme-grey: #9c9c9c;

    /*define fonts*/
    --lato-font: 'Lato', sans-serif;
}

:root {
    /*fonts*/
    --color-bg: var(--light-grey-1);
    --color-bg-selected: var(--light-grey-2);
    --color-bg-warning:var(--theme-greyish-yellow);

    /*colors*/
    --app-font: var(--lato-font);
}
